{{!< honhoang-default}}
            {{#post}}
 

                    <div id="image-wrapper">
                        {{content}}  
                    </div>                   
            {{/post}}          
