{{!< honhoang-default}}
            {{#post}}

            <div id="about-wrapper">
As I continue with photography, I want capture little moments that are often forgotten, moments that dissipate into the ether of the past. It is the moments of daydreaming in others that go unnoticed. It is the raw emotions of thought that are transcribed onto as a person’s expression. It is honesty captured in a moment of time.
            </div>          

            <div id="image-wrapper">
                {{content}}  
            </div>                  

            {{/post}}          
