{{!< honhoang-default}}

{{!-- CSS LINKS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/cv.css"}}" />

{{#post}}

<main class="content" role="main">
    <div class="inner">

        <article class="{{post_class}}">            

                <h1>Contact Me</h1>

<p class="contact-details">Need a website built, work done in photography, or just want to say hello?</p> <p>Please send a <a href="/hon-contact">message</a></p>

            <section class="post-content">
                {{content}}
            </section>
    
{{/post}}

                <h1>Contact Me</h1>

<p class="contact-details">Need a website built, work done in photography, or just want to say hello?</p> <p>Please send a <a href="/hon-contact">message</a></p>            
    
        </article>
    </div>

</main>