{{!< honhoang-default}}
            {{#post}}

            <div class="about-wrapper">
As I continue with photography, I want to capture little moments that are often forgotten, moments that dissipate into the ether of the past. It is the moments of daydreaming in others that go unnoticed. It is the raw emotions of thought that are transcribed as an expression. The honesty captured in time. 
            </div>          

            <div id="image-wrapper">
                {{content}}  
            </div>                  

            {{/post}}          
