{{!-- facebook-page-plugin --}}
<center><div class="fb-page" data-href="https://www.facebook.com/enflight" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin:0 auto;"><blockquote cite="https://www.facebook.com/enflight" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/enflight">EnFlight.Design</a></blockquote></div></center>
{{!-- facebook-page-plugin --}}

<nav id="pagination" class="pagination" role="pagination">
	<div class="inner">
	    {{#if prev}}
	        <a class="pagination-item pagination-next" href="{{page_url prev}}"><i class="icon-arrow-left"></i> <span>Newer Posts</span></a>
	    {{/if}}
	    <span class="pagination-info">Page {{page}} of {{pages}}</span>
	    {{#if next}}
	        <a class="pagination-item pagination-prev" href="{{page_url next}}"><span>Older Posts</span> <i class="icon-arrow-right"></i></a>
	    {{/if}}
	    <div class="clear"></div>
	</div>
</nav>