.content {
    position: relative;
    top: 750%;
}

/* Every post, on every page, gets this style on its <article> tag */
.post-list .post .post-image:after {
    content: '';
    position: absolute;
    left: -5%;
    bottom: -2.5em;
    width: 110%;
    height: 4em;
    background: none; 
    border-top: none; 
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    transition: all ease-out 0.2s;
}

.post .post-title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.334em;
    width: 0;
    margin-bottom: -2px;
    border-bottom: 4px solid #7B7B7B;
}

