h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
    text-rendering: optimizeLegibility;
    color: #ddd;
    text-align: center;
}

.overlay-social-links {
    display: flex;
    align-items: center;
}

.overlay-social-links a {
    margin: auto;
}

.overlay-social-links img {
    margin: 10px;
    height: 35px;    
}

.post .post-title {
    color: #ccc;
    padding-top: 1em;
    text-shadow: 8 8 8px #fff;    
}

#wrapper {
    background: #222;
}

#message_btn {
    position: fixed;
    width: 50px;
    height: 55px;
    right: 40px;
    top: 5px;
    z-index: 9999;
    transition: .6s;
}

@media (max-width: 480px) {
#message_btn {
    right: 20px;
  }  
}

#message_btn img{
    width: 74%;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 3px;
}

#message_btn img:hover {
    cursor: pointer;
    background: rgba(280, 280, 280, .7);
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all .5s;
-webkit-box-shadow: 0px 0px 30px 0px rgba(280, 280, 280, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(280, 280, 280, 0.67);
box-shadow:         0px 0px 30px 0px rgba(280, 280, 280, 0.67);
}

.btn-primary:hover {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
-webkit-box-shadow: 0px 0px 30px 0px rgba(280, 280, 280, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(280, 280, 280, 0.67);
box-shadow:         0px 0px 30px 0px rgba(280, 280, 280, 0.67);
    transition: all .5s;
}

.alert-close {
    padding-top: 150px;
    font-size: 35px;
    font-family: 'Poiret One', cursive;
    color: white;
    z-index: 105;
}

.alert-close:hover {
    cursor: pointer;
}

.form {
  width: 400px;
  margin:auto;
  border-radius: 3px;
/*  margin-top: 15em;
  margin-bottom: 6em;*/
/*  padding: 1.25em;*/
}


.btn-primary {
  box-shadow: 0; 
  border: none; 
  background-color: rgba(250, 250, 250, 0.5);
  border-color: #fff;
  color: #000;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px -1px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 1px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.55em;
  margin-bottom: 1.55em;
  display: inherit;
  font-family: 'Poiret One', cursive;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
  box-shadow: 0px 0px 9px rgba(208, 208, 208, 0.25);  
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 3px;
  background-color: rgba(34,34,34,0.5);
  font-size: 20px;
  line-height: 1.467;
  font-family: 'Poiret One', cursive;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

.form-control-gallery {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 3px;
  background-color: rgba(45,45,45,0.5);
  font-size: 20px;
  line-height: 1.467;
  font-family: 'Poiret One', cursive;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}


input, textarea {
  transition: all 800ms;
  font-family: "Roboto";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #ccc;
/*  margin-top: 1.25em;*/
}


.has-error input, .has-error textarea {
  color: #fff;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #fff;
}

.has-success input, .has-success textarea {
  color: #fff;
  border-color: #2ecc71;
}

.has-success .input-field-icon {
  color: #fff;
}


input:focus, textarea:focus {
  border-color: #fff;
  color: #fff;
}

input:focus + .input-field-icon {
  color: #fff;
}

textarea.form-control {
  height: 120px;
  transition: .6s;
}

textarea.form-control-gallery {
  height: 120px;
  transition: .6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #fff;
}

textarea.form-control-gallery:focus {
  height: 200px;
  border-color: #fff;
}
@media (max-width: 600px) {
  .form {
    width: 90%;
    margin-top: 12%;
  }
}

.error-message{
  display: none;
}

.ss-q-title {
  display: none;
}

table {
    margin: 0; 
}

table th, table td {
     padding: 0; 
}
