nav {
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 900;
  position: fixed;
  height: 60px;
  background-color: #222;
  width: 100%;
  text-align: center;
  display: flex;
}

/*nav ul {
    display: flex;
    justify-content: center;
  }*/

nav ul ul{
    display: none;
  }

nav ul li:hover > ul{
    display: block;
    color: #fff;
    background-color: #222;
    margin: 0 auto;
    transition: all .5s ease;
  }

nav ul li a:hover > li{
    cursor: pointer;
  }


  .brand-logo img {
    width: 175px;
    margin: -14px 10px 10px 10px;
    transition: all .5s ease;
  }


  .brand-logo:hover{
  color: #fff;
  transition: all .5s ease;
  text-shadow: 8 8 8px #fff;
  }

  .center {
    margin: 0 auto;
  }    

  .center ul li{
    list-style: none;
  }

  .center a {
      color: #ccc;
      text-decoration: none;
      transition: color .5s ease;
  }  

  .center a:hover {
        color: #fff;
        text-shadow: 80 8 80px #fff;
  }

 .nav-links li {
    margin: 15px 15px 15px 15px;
  }

 .nav-links li ul li a{
    margin: 15px 15px 15px 15px;
  }
  
nav ul{list-style:none}
nav li{
  position:relative;
  list-style: none;}
nav ul>li:before,
nav ol>li:before{
  position:absolute;
  width:2em;
  margin-left:-3em;
  font-size:1em;
  font-weight:400;
  line-height:1.5em;
  text-align:right;
  color:#1F2026}
/*nav ul>li:before{
  margin-top:0.125em;
  content:'*'}*/
nav ol{
  list-style-type:none;
  counter-reset:item}
nav ol>li:before{content:counter(item) ". " !important;counter-increment:item}
nav ol,ul{
  padding-left:3em;margin:2em auto}
nav ol ol,ol ul,ul ol,ul ul{
  padding-left:1.5em;
  margin:1em auto}
